@font-face {
    font-family: 'MyCustomFont1';
    src: url('../../public/assets/font/chabul/CHABUL.ttf');
  }

  @font-face {
    font-family: 'MyCustomFont2';
    src: url('../../public/assets/font/the_bigmouth/TheBigmouth.ttf');
  }

  @font-face {
    font-family: 'MyCustomFont4';
    src: url('../../public/assets/font/autumn_in_september/Autumn\ in\ September.ttf');
  }
  

  .font-customFont1{
    font-family: 'MyCustomFont1';
  }

  .font-customFont2{
    font-family: 'MyCustomFont';
  }
  
  .font-customFont4{
    font-family: 'MyCustomFont4';

  }