@font-face {
  font-family: 'MyCustomFont1';
  src: url('../../public/assets/font/chabul/CHABUL.ttf');
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #eaf3ff;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  display: flex;
  font-size: 140px;
  margin-bottom: 10px;
  font-family: 'MyCustomFont1', sans-serif;
}

.hero p {
  font-size: 36px;
  color: #555;
  margin-bottom: 20px;
}

.learn-more-btn {
  background-color: #ffee33;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 16px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}


.forward-arrow {
  margin-left: 10px;
  font-size: 18px;
  transition: transform 0.2s ease;
}

.learn-more-btn:hover .forward-arrow {
  transform: translateX(5px);
}

.hero-image img {
  max-width: 800px;
  border-radius: 20px;
}
