@import "tailwindcss";
@theme{
    --color-main: #CB9DF0;
    --color-pink: #F0C1E1;
    --color-orange: #FDDBBB;
    --color-yellow: #fff37b;
    
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.2s ease-out;
  }
  